<!--Footer Links-->
<div class="container">
    <div class="row">

        <!--First column-->
        <div class="col-md-4">
            <h5 class="title mb-4 mt-3 font-bold">Company data</h5>
            <p>
                Modena 12 Italy
                <br>
                Business Register of Bologna no. 259882
                <br>
                Share capital duly paid up Euros 130.000.000
                <br>
                P Iva 00591801204 Fiscal code 03049840378
                <br>
                A sole shareholder company part of Audi Group
                <br>
                Email: <a href="automobililamborghini@legalmail.it">automobililamborghini@legalmail.it</a></p>
        </div>
        <!--/.First column-->

        <hr class="clearfix w-100 d-md-none">

        <!--Second column-->
        <div class="col-md-2 mx-auto">
            <h5 class="title mb-4 mt-3 font-bold">World Auto</h5>
            <ul>
                <li><a href="#!">News</a></li>
                <li><a href="#!">Career</a></li>
                <li><a href="#!">Design</a></li>
                <li><a href="#!">Services</a></li>
            </ul>
        </div>
        <!--/.Second column-->

        <hr class="clearfix w-100 d-md-none">

        <!--Third column-->
        <div class="col-md-2 mx-auto">
            <h5 class="title mb-4 mt-3 font-bold">Shoping</h5>
            <ul>
                <li><a href="#!">Dealers around you</a></li>
                <li><a href="#!">Accessories</a></li>
                <li><a href="#!">Spare Parts</a></li>
                <li><a href="#!">Clothes</a></li>
            </ul>
        </div>
        <!--/.Third column-->

        <hr class="clearfix w-100 d-md-none">

        <!--Fourth column-->
        <div class="col-md-2 mx-auto">
            <h5 class="title mb-4 mt-3 font-bold ">Discover more</h5>
            <ul>
                <li><a href="#!">Innovation</a></li>
                <li><a href="#!">Sports</a></li>
                <li><a href="#!">Museum & History</a></li>
                <li><a href="#!">Driving Events</a></li>
            </ul>
        </div>
        <!--/.Fourth column-->
    </div>
</div>
<!--/.Footer Links-->

<hr>

<!--Call to action-->
<div class="call-to-action">
    <ul>
        <li>
            <h5 class="mb-1">Register for free</h5>
        </li>
        <li><a href="" class="btn btn-danger btn-rounded">Sign up!</a></li>
    </ul>
</div>
<!--/.Call to action-->

<hr>



<!--Copyright-->
<div class="footer-copyright">
    <div class="container-fluid">
        © 2017 Copyright: <a href="https://www.sitepoint.com"> SitePoint.com </a>
    </div>
</div>
<!--/.Copyright-->