.product__rating {
    list-style-type: none;

    li {
        display: inline-block;
    }
}

.product__rating {
    li {
        color: gold;
    }
}

.rating {
    li {
        display: inline-block;
        color: gold;
    }
}